<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>audio</servlet-name>
        <servlet-class>Audio.audio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>video</servlet-name>
        <servlet-class>Video.video</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>favorites</servlet-name>
        <servlet-class>Favorite.favorites</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>playlist</servlet-name>
        <servlet-class>Playlist.playlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>createlist</servlet-name>
        <servlet-class>Playlist.createlist</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>listdata</servlet-name>
        <servlet-class>Playlist.listdata</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>audio</servlet-name>
        <url-pattern>/audio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>video</servlet-name>
        <url-pattern>/video</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>favorites</servlet-name>
        <url-pattern>/favorites</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>playlist</servlet-name>
        <url-pattern>/playlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>createlist</servlet-name>
        <url-pattern>/createlist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>listdata</servlet-name>
        <url-pattern>/listdata</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
